data/661k/
experiments/004 - Neisseria gonorrhoeae - Comparison of orders/neisseria_gonorrhoeae__01
experiments/005 - Neisseria gonorrhoeae - Comparison of encoding/neisseria_gonorrhoeae__01
experiments/006 - Number of genome with attotree/